html,
body {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
  width: auto;
  height: auto;
  position: "absolute";
  background-color: #f3a7a7;
  background-image: url("images/grainTexture.png");
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

@font-face {
  font-family: "Jacksilver";
  src: local("Jacksilver"), url("./fonts/Jacksilver.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Righteous";
  src: local("Righteous"), url("./fonts/Righteous.ttf") format("truetype");
  font-weight: normal;
}
